<svg
  width="450"
  height="60"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <foreignObject width="450" height="60">
    <div xmlns="http://www.w3.org/1999/xhtml" class="container">
      <style>
        /* CSS Reset */
        html, body, div, span, h1, p, a, img {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        a {
            text-decoration: none;
        }
        /* Actual Styles */
        main {
            height: 60px;
            display: flex;
            /*padding: 5px;*/
            border-radius: 5px;
            background: {{ background_color }};
        }
        .scan-code {
            width: 169px;
            height: 42px;
            border-radius: 10px;
            align-items: center;
            padding: 8px 0px 8px 0px;
        }
        aside {
            width: 100%;
            display: flex;
            position: relative;
        }
        .cover {
            width: 55px;
            height: 55px;
            padding: 2.5px 0px 0px 2.5px;
            border-radius: 4px;
            {% if theme == 'dark' %}
                box-shadow: 0 0 4px 1px #1b2027;
            {% else %}
                box-shadow: 0 0 4px 1px #f1f3f5;
            {% endif %}
        }
        section {
            margin: 0px 2.5px 0px 2.5px;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .info {
            margin-top: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
        }
        .top {
            display: flex;
            align-items: center;
        }
        h1 {
            font-size: 0.8em;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            max-width: 200px;
            color: {{ title_color }};
        }
        p {
            margin-top: 5px;
            font-size: 0.65em;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            overflow: hidden;
            max-width: 200px;
            color: {{ subtitle_color }};
        }
        .logo {
            width: 24px;
            height: 24px;
        }
        .bar-container {
            display: flex;
            animation: rainbow 0ms -800ms linear infinite;
            max-width: 190px;
        }
        .bar {
            border-radius: 3px 3px 0 0;
            height: 30px;
            transform-origin: bottom;
            animation: resize 0ms -800ms ease-in-out infinite alternate;
            width: 15px;
        }
        .bar:not(:first-child) {
            margin-left: 5px;
        }
        @keyframes spin {
            100% { transform: rotate(360deg) }
        }
        @keyframes rainbow {
            100% { filter: hue-rotate(360deg) }
        }
        @keyframes resize {
            0% {
                transform: scaleY(0);
                opacity: .05;
            } 100% {
                transform: scaleY(1);
                opacity: .95;
            }
        }
      </style>
      <a href="https://github.com/tthn0/Spotify-Readme" target="_blank">
        <main>
          <aside>
            <img
              class="cover"
              src="data:image/png;base64, {{base_64_track_image}}"
              alt="Cover Image"
            />
            <section>
              <div class="info">
                <div class="top">
                  <h1>{{track_name}}</h1>
                </div>
                <p>{{track_artist}}</p>
              </div>
              <div class="bar-container">{{eq_bars_html|safe}}</div>
            </section>
            <img
              class="scan-code"
              src="data:image/png;base64, {{base_64_scan_code}}"
              alt="Scan Code"
            />
          </aside>
        </main>
      </a>
    </div>
  </foreignObject>
</svg>
